/* google-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/google-sans-v67-latin-regular.woff2') format('woff2');
}

/* ibm-plex-mono-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/ibm-plex-mono-v20-latin-regular.woff2') format('woff2');
}

/* roboto-mono-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/roboto-mono-v31-latin-regular.woff2') format('woff2');
}

/* red-hat-mono-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Red Hat Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/red-hat-mono-v16-latin-regular.woff2') format('woff2');
}

/* noto-serif-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/noto-serif-v33-latin-regular.woff2') format('woff2');
}

/* patua-one-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Patua One';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/patua-one-v22-latin-regular.woff2') format('woff2');
}

/* playfair-display-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/playfair-display-v40-latin-regular.woff2') format('woff2');
}

/* nunito-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/nunito-sans-v19-latin-regular.woff2') format('woff2');
}

/* montserrat-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

/* karla-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/karla-v33-latin-regular.woff2') format('woff2');
}

/* space-grotesk-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/space-grotesk-v22-latin-regular.woff2') format('woff2');
}

/* reenie-beanie-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Reenie Beanie';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/reenie-beanie-v22-latin-regular.woff2') format('woff2');
}

/* indie-flower-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/indie-flower-v24-latin-regular.woff2') format('woff2');
}

/* lekton-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Lekton';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/lekton-v21-latin-regular.woff2') format('woff2');
}